<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignableViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TradeGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D20577219889A7000570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D20578419889A7000570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D20579A19889AA800570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2057A419889AA800570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2057F21988CE6700570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2057FC1988CE6700570042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA069D61988D44B0013126F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA069E01988D44B0013126F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
